<h4>Reflection:</h4>
<h6 class="ml-3">Over the...</h6>

       <div class="row ml-5">
         
             <form asp-action="ReflectionPartialX" asp-controller="Action" method="post">
               <input type="submit" value="x-axis" name="XAxis" class="btn btn-warning ml-4 shadow">
           </form>
           <form asp-action="ReflectionPartialY"         asp-controller="Action" method="post">
               <input type="submit" value="y-axis" name="YAxis" class="btn btn-warning ml-5 shadow">
           </form>

           </div>
            
     