<div class="row justify-content-between mt-5">
    <div class="col-6">
        <h1 style="font-family: impact" class="ml-3">Mapping Transformations</h1>
    </div>
    <div class='col-2 text-center'>
        <h4 class="border border-success bg-success text-white rounded-pill p-2 text-center">Score: @ViewBag.Score</h4>
        <a href="/@ViewBag.Level">Back to Game</a>
    </div>
   
</div>
<div class="row m-4">
    
    <h3>Object of the game:</h3>
    <h5 class="m-3">Use a sequence of rigid transformations (translations, reflections and rotations) to map the orange figure directly on top of the blue figure. Use the least amount of transformations possible. </h5>

    <h5 class="m-3">If you select a translation that would take your figure off of the grid on the page, it will not move the figure, but it will negatively affect your score... so be careful! </h5>
    <br>
    <h3 class="mt-4">Scoring:</h3>
    <h5 class="m-3">Each time you click one of the transformation buttons, your score increases by one.  The lower the score, the better game you played... kind of like golf.</h5>


</div>