
<h4>Translation:</h4>
       <ul>
           <form asp-action="TranslationPartial" asp-controller="Action" method="post">
               <div class='row align-items-center'>
                   <div class='col-5'>
               <label for="ChangeX">Change in x:</label>
               <input class="rounded" type="number" name="ChangeX" min="-20" max="20"><br>
               <label for="ChangeY">Change in y:</label>
               <input class="rounded" type="number" name="ChangeY" min="-20" max="20">
               </div>
               <div class='col-3'>
               <input type="submit" value="Translate" class="btn btn-warning shadow">
               </div>
               </div>
           </form>
    
        </ul>
    
     